    body {
background-image: url("http://s.ndtvimg.com/images/content/2016/aug/806/neymar-rio-2016-celebrates-2108.jpg?downsize=764:573&output-quality=80&output-format=jpg");
    background-size:cover;
    font-weight:bold;
    color:black;
        }
p { 
    color:black;
    font-size: 100px
    font-family; "Arial", Times, Serif;
}

div h1 { 
    color:chartreuse;
    text-align: center;
    font-size: 50px;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;

}

.banner {
    margin: 0px auto;
    padding: 0;
    height: 20%;
    width: 100%;
    overflow: hidden;
    border: solid;
}
